
.service-title{
    color: #211F3F;
}
.title{
    color: #00d4f5;
}
.darkblue {
    background: #161837;
   
  }
  .darkgrey{
      color: #868c96;
    
  }
  
  .greyy{
      color:#ffffff;
  }
  .lightblue{
    color: #00d4f5;
  }
  #bg-img{
    background: rgb(221, 221, 221);
/* background: linear-gradient(90deg, rgba(17,132,173,1) 0%, rgba(30,154,156,1) 42%, rgba(27,176,134,1) 100%); */
border-radius:20%
  }
#title{
  font-weight: bold;

}
@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(https://fonts.googleapis.com/earlyaccess/lateef.css); 
@import url(https://fonts.googleapis.com/earlyaccess/scheherazade.css);
@import url(https://fonts.googleapis.com/earlyaccess/thabit.css);
.titleBlue{
font-family: 'Droid Arabic Kufi', serif;
}
.text26{
  font-family: 'Droid Arabic Kufi', serif;
  font-weight: bold;
    text-decoration: solid;
    font-size: 25px;
    
}
