section,
footer {
  background: #161837;
  color: #868c96;
  padding-bottom: 3%;
}

footer p {
  padding: 40px 0;
  text-align: center;
}

/* footer img {
  width: 44px;
} */
#img{
  
    width: 30%;
}

ul {
  list-style: none;
}
.policy{
  height: 10px;
  width:10px;
}
