section,
footer {
  background: #1a1e25;
  color: #868c96;
}

footer p {
  padding: 40px 0;
  text-align: center;
}

/* footer img {
  width: 44px;
} */
#img{
    height: 30%;
}

ul {
  list-style: none;
}
