


.nav-link:hover {
    color: #2498aa !important;
    
}

.active {
    color: #1691a4 !important;
}

.navbar_top {
    background-color: #161837;
}

#dropdown {
    float: left;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
   
}

.dropdown-content {
    position: absolute;
    background-color: #383737;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#dropdown-content a:hover {
    background-color: #383737;
}
.lang{
    margin-right: 5%;
}

.text1{
    color: #FBFEFD !important;
    background-color:#383737;
}
#dropdown-item{
   color: #383737 !important;
}

.post-image{
    width: 50%;
        height: 100%;
        object-fit: cover;
 
        
      }
   .post-text{
  padding-left: 5%;
   }     
  
  .post-title{
    font-size: 20px;
    font-weight: bold;
    color:#139BA7;
    padding-bottom: 2%;
    
  }
  .post-description{
    font-size: 16px;
  }

 