#bg{
    background-color:#161837;
}
.btn2 {
    background-color: #5684B9;
    color: #ffffff;
    border: 1px solid #1691A4;
    border-radius: 40px;
    padding: 8px 20px;
    margin-top: 5%;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn2:hover {
    background-color: #476e99;
    color: #ffffff;
  }
  #title{
    font-weight: bold;
    color:#37517E;
  }