

.partners{
    border-radius:20px;
}

#title{
    color: #ffffff;
}

.img-items{
    justify-self: center !important;
    align-items: center !important;
    background-color: white;
    height: 8rem;

}
.all-items{
  align-items: center;
  
}

    

  

