/* @import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
$main-green: #79dd09 !default;
$main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
$main-yellow: #bdbb49 !default;
$main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
main-red: #bd150b !default;
main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
main-blue: #0076bd !default;
main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default; */

/* This pen */
body {
	font-family: "Baloo 2", cursive;
	font-size: 16px;
	color: #ffffff;
	text-rendering: optimizeLegibility;
	font-weight: initial;
}




.light {
	background: #ffffff;
}

/* a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
} */

#pageHeaderTitle {
	margin: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  /* overflow: hidden;
  position: relative; */
  color: #ffffff;


	&.light {
		background-color: #e1e5ea;
	}
	
	.t-dark {
		color: #18151f;
	}
	
  a {
    color: inherit;
  }
	
	h1,	.h1 {
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
	}
	
	.small {
		font-size: 80%;
	}

  .postcard__title {
    font-size: 1.75rem;
    color: blue ;
    /* text-decoration: none;
    transition: color 0.3s ease-in-out; */
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
		padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  /* &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  } */

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
/* @media screen and (min-width: 1024px){
		.postcard__text {
      padding: 2rem 3.5rem;
    }
		
		.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      
      top: -20%;
      height: 130%;
      width: 55px;
    }
	
  
	.postcard.light {
		.postcard__text:before {
			background: #e1e5ea;
		}
  }
} */

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
	background: rgb(255, 255, 255);
	color: black;
}
.green .postcard__title:hover {
	color: rgb(255, 255, 255);
}
.green .postcard__bar {
	background-color: rgb(255, 255, 255);
}
.green::before {
	background-image: linear-gradient(
		-30deg,
    rgb(255, 255, 255),
		transparent 50%
	);
}
.green:nth-child(2n)::before {
	background-image: linear-gradient(30deg,rgb(255, 255, 255), transparent 50%);
}

/* .postcard .postcard__tagbox .blue.play:hover {
	background: rgb(255, 255, 255);
} */
/* .blue .postcard__title:hover {
	color: rgb(255, 255, 255);
}
.blue .postcard__bar {
	background-color:rgb(255, 255, 255);
}
.blue::before {
	background-image: linear-gradient(-30deg,rgb(255, 255, 255), transparent 50%);
}
.blue:nth-child(2n)::before {
	background-image: linear-gradient(30deg, rgb(255, 255, 255), transparent 50%);
} */

.postcard .postcard__tagbox .red.play:hover {
	background:rgb(255, 255, 255);
}
.red .postcard__title:hover {
	color:rgb(255, 255, 255);
}
.red .postcard__bar {
	background-color: rgb(255, 255, 255);
}
/* .red::before {
	background-image: linear-gradient(-30deg, rgb(255, 255, 255), transparent 50%);
}
.red:nth-child(2n)::before {
	background-image: linear-gradient(30deg, rgb(255, 255, 255), transparent 50%);
} */


.bg-overlay {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://media.istockphoto.com/id/1199060494/photo/insurance-protecting-family-health-live-house-and-car-concept.jpg?s=612x612&w=0&k=20&c=W8bPvwF5rk7Rm2yDYnMyFhGXZfNqK4bUPlDcRpKVsB8=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 450px;
  width:100%;
  padding-top: 50px;
  display: inline-grid;
  

}

.header1{
  justify-self: center !important;
  align-self: center;
}

.how-section1{
  margin-top:-15%;
  padding: 10%;
}
.how-section1 h4{
  color: #139BA7;
  font-weight: bold;
  font-size: 30px;
}
.how-section1 .subheading{
  color: #139BA7;
  font-size: 20px;
}
.how-section1 .row
{
  margin-top: 10%;
}
.how-img 
{
  text-align: center;
}
.how-img img{
  width: 40%;
}



.business-header {
  height: 450px;
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}



.postcard .postcard__tagbox .yellow.play:hover {
	background:rgb(255, 255, 255);
	color: black;
}
.yellow .postcard__title:hover {
	color:black;
}
.yellow .postcard__bar {
	background-color:rgb(255, 255, 255);
}
.yellow::before {
	background-image: linear-gradient(
		-30deg,
    black,
		transparent 50%
	);
}
.yellow:nth-child(2n)::before {
	background-image: linear-gradient(
		30deg,
    black,
		transparent 50%
	);
}
.header1{
  font-family: arabicFont !important;
}

